body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 40px;
    color: #000000;
    background: #fffffff1;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
form {
    width: 570px;
    border: 2px solid rgb(0, 2, 147);
    border-radius: 50px;
    padding: 30px;
    margin: 0 auto;
    background: #c6daff;
}
div {
    padding: 10px;
}
input:hover {
    background : #77a9d3de;
    cursor:pointer;
}
label {
    display: inline-block;
    width: 150px;
}
#validation {
    box-shadow: 4px 4px 7px black;
    border-radius: 5px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    
}
#validation:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
div:nth-child(3n+1) {
    border: dashed rgb(0, 51, 128) 2px;
}
#genre label:not(.genre) {
    width: unset;
}
#bouton {
    text-align: center;
}